<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <div class="card ">
        <div class="card-header text-end">
            <h5 class="card-title text-center">
                Result Management System
            </h5>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title text-center">
            <br><br>
            <h5>Login As</h5>
            <br><br>
            <a routerLink="login" class="btn btn-primary">Teacher </a> &nbsp; &nbsp;&nbsp;
            <a routerLink="student" class="btn btn-primary">Student</a>
        </div>
    </div>
</body>

</html>