<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <div class="card ">
        <div class="card-header text-end">
            <h5 class="card-title text-center">
                Result Management System
                <div class="text-end">
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </h5>

        </div>
    </div>
    <br>
    <h4>
        <a href="/view" class="btn btn-primary">Back</a>
    </h4>
    <form action="/update" method="post">
        <div class="card-body">
            <h4 class="card-title text-center">Update Student Details</h4>
        </div>
        <div style="margin-left: 25%;">

            <div class="mb-3 row">
                <label for="rollNo" class="col-sm-2 col-form-label">Roll No</label>
                <div class="col-sm-4">
                    <input type="number" id="rollNo" class="form-control" name="rollNo" value="<%=data[0].rollNo%>" readonly>

                </div>
            </div>

            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" id="name" class="form-control" name="name" value="<%=data[0].name%>" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="dateOfBirth" class="col-sm-2 col-form-label">Date Of Birth</label>
                <div class="col-sm-4">
                    <input type="date" min="1990-01-01" max="2018-12-31" id="dateOfBirth" class="form-control" name="dateOfBirth" value="<%=data[0].dateOfBirth%>" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="score" class="col-sm-2 col-form-label">Score</label>
                <div class="col-sm-4">
                    <input type="text" id="score" class="form-control" name="score" value="<%=data[0].score%>" required>
                </div>
            </div>
            <div style="margin-left: 20px; padding: 15px;">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/view" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </form>
</body>

</html>